USE [master]
GO
/****** Object:  Database [PlantATree]    Script Date: 03/06/2011 04:58:16 ******/
CREATE DATABASE [PlantATree] ON  PRIMARY 
( NAME = N'PlantATree', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\Data\PlantATree.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'PlantATree_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\Data\PlantATree_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PlantATree].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PlantATree]
GO
/****** Object:  Table [dbo].[Trees]    Script Date: 03/06/2011 04:58:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Trees](
	[TreeId] [int] IDENTITY(1,1) NOT NULL,
	[CreatorName] [nvarchar](72) NULL,
	[Message] [nvarchar](255) NULL,
	[CoordinateX] [decimal](18, 0) NULL,
	[CoordinateY] [decimal](18, 0) NULL,
	[CoordinateZ] [decimal](18, 0) NULL,
	[CreationDate] [datetime] NULL,
	[CreatorEmail] [nvarchar](255) NULL,
 CONSTRAINT [PK_Trees] PRIMARY KEY CLUSTERED 
(
	[TreeId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
